#news_content_pane {  
  background-color: #eee;
  /*height: 800px;*/
  width: 25%;
  position: fixed;  
  border: 0px solid #222;
  padding:15px;
  z-index: 100;
  top: 60px;
  left: 9px;
}

#butterfly_pane {  
  background-color: #fff;
}

.initially_hidden {
  display: none;
}

#guardian_search_div {
  padding: 10%;
}

#results_div {
  margin-bottom: 60px;
}

.seed_date {
  color: #777;
  margin-bottom: -10px;
  padding-left: 4px;
}

.seed_headline {
  padding-left: 4px;
}

.seed_div {
  padding: 3px;
  cursor: pointer;
}

.seed_div:hover {
  background: #dde;
}

#readmore {
  /*Link to read more on guardian website*/
  padding-top:10px;
  font-size: 12px;
  font-style: italic;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #f00;
  stroke: #f00;
  stroke-width: 1.5px;
}
.node:hover {
  fill: #f44;
  stroke: #f44;
  stroke-width: 6.5px;
  cursor: copy;
}

.clicked {
  fill: #ccd;
  stroke: #ccd;
  stroke-width: 1.5px;
}

.clicked:hover {
  fill: #ccd;
  stroke: #ccd;
  stroke-width: 6.5px;
  cursor: initial;
}

.link {
  stroke: #ccd;
  stroke-width: 1.5px;  
}

.fresh_node_label {
  font-weight: 900 !important;
  fill: #000 !important;
  font-size: 10pt !important;
}

.node_label{
  font-weight: 900 !important;
  font-size: 10pt;
  fill: #88a;
}

.node_date{
  font-size: 9pt;
  fill: #88a;
}

.link_label {
  font-size: 8pt;
  font-style: italic;
  fill: #000;
}

#starter_label {
  fill: blue;
}

#about_visualisation_modal {
  background: white;
  display: block;
  position: fixed;
  opacity: 1;
  z-index: 101;
  padding: 5%;
  margin: 7%;
  display: none;
}
#lean_overlay {
  -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}