<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Visualising Guardian news articles experiment">
      <meta name="author" content="David Abelman">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

      <title>Butterfly effect</title>
      <!-- Bootstrap core CSS -->
      <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="{{url_for('static', filename = 'css/butterfly.css')}}" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!--script src="//code.jquery.com/jquery-1.11.0.min.js"></script-->
      <script src="{{url_for('static', filename = 'js/jquery-2.1.1.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'd3/d3.v3.js')}}"></script>
      
      <!-- See original script at http://bl.ocks.org/mbostock/1095795 -->
  </head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Guardian news visualisations</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Other visualisations</a></li>
              <li><a id='about_link' href="#">About this visualisation</a></li>
              <!-- <li><a href="#options" class="options-link">Options</a></li> -->
              <li><a href="http://www.davidabelman.co.uk" target="_blank">David Abelman</a></li>
            </ul>
          </div>
        </div>
      </div>

    <div id='main_body_area' class='container-fluid'>

      <div class='row'>

        <div id='news_content_pane'>
          <p id='date'></p>
          <h3 id='headline'>Click on an article to see how a news story evolved in different directions...</h3>
          <p id='standfirst'><br></p>
          <div id='image'></div>
          <div id='readmore'></div>
        </div>

        <div id='butterfly_pane'>
          <!-- Content goes here from JS -->
        </div>

      </div>

</body>
<script src="{{url_for('static', filename = 'js/butterfly.js')}}"></script>


